
// white colors
$color-white-primary: #FBFAFA;
$color-white-secondary: #F0EEEE;
$color-white-bg-btn: #D9D9D9;
$color-white-btn-edge: #FFFFFF;
$color-white-text: #FFFFFF;

// black colors
$color-black-primary: #262626;
$color-black-secondary: #343434;
$color-black-bg-btn: #151515;
$color-black-btn-edge: #585353;
$color-black-text: #000000;

// main colors
$color-specific-red: #E71E1E;