$large-screens-breakpoint: 900;

$large-font-size: 26;
$medium-font-size: 23;
$small-font-size: 19;
$extra-small-font-size: 16;

$naming-file-container-height: 100;
$naming-file-container-height-sm: 130;