.website-name {
  height: 3.75em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  border-bottom: 0.125em solid var(--color-text);
  transition: background-color 300ms ease, border-color 300ms ease;
}
@media (min-width: 56.25em) {
  .website-name {
    height: 4.0625em;
  }
}
.website-name .logo-container {
  margin-left: 0.625em;
  display: flex;
  align-items: center;
  height: 80%;
  transform: translateX(0);
  transition: transform 500ms ease;
}
@media (min-width: 56.25em) {
  .website-name .logo-container {
    transform: translateX(3.125em);
  }
}
.website-name .logo-container .logo-img {
  height: 90%;
  width: auto;
}
.website-name .logo-container .logo-img img {
  height: 100%;
  width: auto;
  user-select: none;
}
.website-name .logo-container .logo-name {
  margin-left: 0.125em;
  font-size: 1.5rem;
}
@media (min-width: 56.25em) {
  .website-name .logo-container .logo-name {
    font-size: 1.625rem;
  }
}
.website-name .dark-mode-btn {
  margin-right: 0.625em;
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-btn-edge);
  position: relative;
  transition: background-color 0.3s ease, transform 500ms ease;
  cursor: pointer;
  transform: translateX(0);
}
.website-name .dark-mode-btn:hover, .website-name .dark-mode-btn:focus {
  background-color: var(--color-btn-edge);
}
@media (min-width: 56.25em) {
  .website-name .dark-mode-btn {
    transform: translateX(-3.125em);
  }
}
.website-name .dark-mode-btn .sun, .website-name .dark-mode-btn .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 90%;
  aspect-ratio: 1/1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.website-name .dark-mode-btn .sun svg, .website-name .dark-mode-btn .moon svg {
  height: 100%;
}

.features-container {
  width: 100%;
  height: auto;
  color: var(--color-text);
}
.features-container svg, .features-container path {
  fill: var(--color-text);
}
.features-container button {
  color: inherit;
}
@media (min-width: 56.25em) {
  .features-container {
    height: 4.375rem;
    width: 100%;
    background-color: var(--color-secondary);
    border-bottom: 0.125em solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 300ms ease, border-color 300ms ease;
    position: relative;
  }
}
.features-container[data-menu-opened=true] .features-title .arrow {
  transform: translateY(0.1875em) rotate(180deg);
}
.features-container > .title {
  margin-left: 0.625em;
  margin-right: 0.625em;
  font-size: 1.625rem;
  display: none;
}
@media (min-width: 56.25em) {
  .features-container > .title {
    display: block;
  }
}
.features-container .features-title {
  border: 0;
  color: inherit;
  height: 3.75em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  border-bottom: 0.125em solid var(--color-text);
  transition: background-color 300ms ease, border-color 300ms ease;
  cursor: pointer;
}
.features-container .features-title:hover, .features-container .features-title:focus {
  background-color: var(--color-btn-edge);
}
@media (min-width: 56.25em) {
  .features-container .features-title {
    display: none;
  }
}
.features-container .features-title .title {
  margin-left: 0.625em;
  font-size: 1.5rem;
}
.features-container .features-title .arrow {
  margin-right: 1.75em;
  width: 0.875em;
  height: 0.4375em;
  opacity: 1;
  pointer-events: initial;
  position: relative;
  transform: translateY(0.1875em) rotate(0deg);
  transition: transform 900ms ease, opacity 300ms ease;
}
@media (min-width: 56.25em) {
  .features-container .features-title .arrow {
    opacity: 0;
    pointer-events: none;
  }
}
.features-container .features-title .arrow svg {
  position: absolute;
  left: 0;
  top: 0;
}
.features-container .features {
  width: 100%;
  height: auto;
}
@media (min-width: 56.25em) {
  .features-container .features {
    display: flex;
    justify-content: space-between;
    margin-right: 0.9375em;
    width: 82%;
  }
}
.features-container .features .feature {
  width: 100%;
  height: auto;
}
@media (min-width: 56.25em) {
  .features-container .features .feature {
    width: max-content;
  }
}
.features-container .features .feature[data-description-opened=true] .wrapper button .arrow {
  transform: rotate(180deg);
}
.features-container .features .feature .wrapper {
  width: inherit;
  height: 3.75em;
  background-color: var(--color-bg-btn);
  border-bottom: 0.125em solid var(--color-btn-edge);
  transition: background-color 300ms ease, border-color 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 56.25em) {
  .features-container .features .feature .wrapper {
    height: auto;
    border-bottom: 0;
  }
}
.features-container .features .feature .wrapper button {
  width: max(15.625em, 70%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: 0;
  height: 3.625em;
  cursor: pointer;
  transition: background-color 300ms ease, border-color 300ms ease;
  padding: 0;
}
.features-container .features .feature .wrapper button:hover, .features-container .features .feature .wrapper button:focus {
  background-color: var(--color-secondary);
}
@media (min-width: 56.25em) {
  .features-container .features .feature .wrapper button {
    width: inherit;
    height: auto;
    padding: 0.5em 1em;
    border: 0.125em solid var(--color-btn-edge);
  }
  .features-container .features .feature .wrapper button:hover, .features-container .features .feature .wrapper button:focus {
    background-color: var(--color-btn-edge);
  }
}
.features-container .features .feature .wrapper button .title {
  margin-left: 0.625em;
  font-size: 1.25rem;
  text-transform: uppercase;
}
@media (min-width: 56.25em) {
  .features-container .features .feature .wrapper button .title {
    font-size: 1.125rem;
    margin-left: 0em;
  }
}
.features-container .features .feature .wrapper button .arrow {
  margin-right: 1.75em;
  width: 0.875em;
  height: 0.4375em;
  position: relative;
  transform: rotate(0deg);
  transition: transform 600ms ease, margin-left 300ms ease;
  margin-left: 0;
}
@media (min-width: 56.25em) {
  .features-container .features .feature .wrapper button .arrow {
    margin-right: 0em;
    margin-left: 1.5625em;
  }
}
@media (min-width: 68.75em) {
  .features-container .features .feature .wrapper button .arrow {
    margin-left: 5vw;
  }
}
.features-container .features .feature .wrapper button .arrow svg {
  position: absolute;
  left: 0;
  top: 0;
}
.features-container .features .feature .description {
  width: inherit;
  height: auto;
  background-color: var(--color-bg-btn);
  border: 0;
  border-bottom: 0.125em solid var(--color-btn-edge);
  color: var(--color-text);
  transition: background-color 300ms ease, border-color 300ms ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 56.25em) {
  .features-container .features .feature .description {
    width: auto;
    position: absolute;
    top: calc(100% + 0.125em);
    left: 0;
    right: 0;
    border-top: 0;
  }
}
.features-container .features .feature .description .content {
  padding-bottom: 1.25em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  width: max(12.5em, 70%);
  height: auto;
  font-size: 1.125rem;
}
.features-container .features .feature .description .content:first-child {
  padding-top: 1.25em;
}
@media (min-width: 56.25em) {
  .features-container .features .feature .description .content {
    width: 100%;
    font-size: 1.125rem;
  }
}
.features-container .features .feature .description .content.has-shortcut {
  line-height: 1.8;
}
.features-container .features .feature .description .content kbd {
  background-color: var(--color-secondary);
  border-radius: 0.375em;
  font-family: monospace;
  padding: 0.25em 0.5em;
  box-shadow: 0 0.0625em 0.0625em var(--color-text), 0 0.125em 0 var(--color-text);
}
.features-container .features .feature .description .content li {
  margin-left: 0.9375em;
}
.features-container .features .feature .description .content li:first-child {
  margin-top: 0.625em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: inherit;
  color: var(--color-text);
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background-color 300ms ease;
}

body[data-color-theme=dark] {
  background-color: var(--color-primary);
  --color-primary: #262626;
  --color-secondary: #343434;
  --color-bg-btn: #151515;
  --color-btn-edge: #585353;
  --color-text: #FFFFFF;
}
body[data-color-theme=dark] .moon {
  opacity: 1 !important;
  transform: translate(-50%, -50%) scale(1) !important;
  pointer-events: initial !important;
}

body[data-color-theme=light] {
  background-color: var(--color-btn-edge);
  --color-primary: #f4f4f4;
  --color-secondary: #F0EEEE;
  --color-bg-btn: #D9D9D9;
  --color-btn-edge: #FFFFFF;
  --color-text: #000000;
}
body[data-color-theme=light] .sun {
  opacity: 1 !important;
  transform: translate(-50%, -50%) scale(1) !important;
  pointer-events: initial !important;
}

@media (prefers-color-scheme: light) {
  body {
    --color-primary: #f4f4f4;
    --color-secondary: #F0EEEE;
    --color-bg-btn: #D9D9D9;
    --color-btn-edge: #FFFFFF;
    --color-text: #000000;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --color-primary: #262626;
    --color-secondary: #343434;
    --color-bg-btn: #151515;
    --color-btn-edge: #585353;
    --color-text: #FFFFFF;
  }
}
*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  min-height: inherit;
  width: min(100%, 87.5em);
}
@media (min-width: 87.5em) {
  .app {
    border-left: 0.125em solid var(--color-text);
    border-right: 0.125em solid var(--color-text);
  }
}

::selection {
  background-color: var(--color-text);
  color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 0.625em;
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-btn-edge);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-btn-edge);
}

html {
  font-family: Calibri, sans-serif;
}

/*# sourceMappingURL=style.css.map */
