@use '../utils/functions' as f;
@use '../utils/variables' as *;

*,
*::before,
*::after {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$max-content-width: 1600;

// wrapper for all page content
.app {
    min-height: inherit;
    width: min(100%, f.pixelsToEm($max-content-width));
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: f.pixelsToEm($max-content-width)) {
        border-left: f.pixelsToEm(2) solid var(--color-text);
        border-right: f.pixelsToEm(2) solid var(--color-text);
    }
}

// main content on the home page (naming file and editor sections)
main {
    width: 100%;
    margin: f.pixelsToEm(100) auto;
    height: max(60vh, 500px);

    @media (min-width: f.pixelsToEm($large-screens-breakpoint)) {
        width: 85%;
    }
}

::selection {
    background-color: var(--color-text);
    color: var(--color-primary);
}