@use '../utils/functions' as f;

::-webkit-scrollbar {
    width: f.pixelsToEm(10);
    background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
}

body[data-color-theme="dark"]::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-btn-edge);
}

body[data-color-theme="light"]::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-bg-btn);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-btn-edge);
}