@use '../utils/functions' as f;
@use '../utils/variables' as *;
@use '../utils/colors' as *;
@use '../utils/typography' as *;
@use '../components/mixins' as *;

.editor-container {
    height: calc(100% - f.pixelsToRem($naming-file-container-height-sm));
    position: relative;
    overflow: hidden;

    @media (min-width: f.pixelsToRem($large-screens-breakpoint)) {
        height: calc(100% - f.pixelsToRem($naming-file-container-height));
    }

    // border: f.pixelsToEm(2) solid var(--color-text);
    // border-top: 0;
    // transition: border-color 300ms ease;

    .copy-code-btn,
    .open-compiler-btn {
        @include primary-btn-styling;
        position: absolute;
        border-radius: f.pixelsToRem(10);
        padding: 0 f.pixelsToEm(5);
        overflow: hidden;
        transition: 
            padding 300ms ease,
            background-color 300ms ease;
        right: f.pixelsToRem(15);

        svg {
            stroke: var(--color-text);
            transform: translateY(f.pixelsToRem(4));
            width: f.pixelsToRem(32);
            height: f.pixelsToRem(32);
        }

        &::after {
            white-space: nowrap;
            content: attr(data-tooltip);
            position: absolute;
            font-size: f.pixelsToRem($extra-small-font-size + 2);
            opacity: 0;
            transition: opacity 300ms ease;
        }

        &:hover,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
    }

    .copy-code-btn {
        bottom: f.pixelsToRem(70);

        &:hover,
        &:focus {
            padding-left: f.pixelsToRem(54);
        }

        &.clicked {
            background-color: $success-green;
            border-color: $success-green;
            padding-left: f.pixelsToRem(106);

            &::after {
                opacity: 1;
            }
        }

        &::after {
            top: f.pixelsToRem(6);
            right: f.pixelsToRem(44);
        }
    }

    .open-compiler-btn {
        bottom: f.pixelsToRem(15);

        &:hover,
        &:focus {
            padding-left: f.pixelsToRem(46);
        }

        &.no-compiler {
            background-color: var(--color-specific-red);
            border-color: var(--color-specific-red);
            padding-left: f.pixelsToRem(206);
        }

        &.stay-red {
            background-color: var(--color-specific-red);
            border-color: var(--color-specific-red);
        }

        &.stay-red:focus,
        &.stay-red:hover {
            padding-left: f.pixelsToRem(206);
        }

        &::after {
            top: f.pixelsToRem(7);
            right: f.pixelsToRem(43);
        }
    }
}